Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/
.idea/
.vscode/
*.VC.db
*.VC.opendb
*.sln
*.opensdf
*.sdf
*.tmp
*.log
*.xcodeproj
*.xcworkspace

# Optional user-specific files
*.user
*.userprefs